:root{
    --main-color: #003147;
    --secondary-color: #ff5d22;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.header{
    padding: 1.5rem 7%;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 70px;
}
.navbar a{
    color: #003147;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: 2rem;
    position: relative;
    gap: 5rem;
}
.navbar a:after{
    content: '';
    background: var(--secondary-color);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secondary-color);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}
.icons a{
    color: white;
    background: var(--secondary-color);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
    transition: .2s;
}
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.dropbtn{
    background-color: #ff5d22;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus{
    background-color: #003147;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 15px 19px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.show {
    display: block;
}

.background{
    height: 550px;
    background-image: url(./Images/national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;
}
.background h1{
    color: #003147;
    font-weight: bold;
    font-size: 40px;
    margin-top: 200px;
    margin-left: 100px;
}
.our-services{
    padding: 4rem 7%;
    background: linear-gradient(to left, #ffffff, #f2f9fc);
}
.service-content{
    text-align: center;
}
.service-content a{
    font-size: 40px;
    color: #003147;
}
.service-content p{
    text-transform: none;

}
.main-services{
    padding: 6rem 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}



.inner-services-content{
    flex: 2 2 250px;
    padding: 10rem 1rem;
    text-align: center;
    background-color:white;
    box-shadow: 2px 2px 5px #003147;

}
.inner-services-content1{
    flex: 2 2 250px;

    padding: 10rem 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px #003147;

}
.inner-services-content2{
    flex: 2 2 250px;
    padding: 10rem 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px #003147;


}
.inner-services-content:hover{
    transform:scale(1.05);
    background-image: url(./Images/walter-otto-PT70CT6mATQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);


}
.inner-services-content:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ff5d22;
    opacity: 0.9;

}
.inner-services-content1:hover{
    transform:scale(1.05);
    background-image: url(./Images/roberto-sorin-RS0-h_pyByk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);
}
.inner-services-content1:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #003147;
    opacity: 0.9;
}
.inner-services-content2:hover{
    transform:scale(1.05);
    background-image: url(./Images/national-cancer-institute-w7Pby5bDKW4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);
}
.inner-services-content2:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ff5d22;
    opacity: 0.9;
}


.inner-services-content h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}
.inner-services-content1 h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}
.inner-services-content2 h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}

.inner-services-content .service-content p{
    font-size: 17px;
    color: #003147;
    position: relative;
    text-align: left;
}
.inner-services-content1 p{
    font-size: 17px;
    color: #003147;
    position: relative;
    text-transform: none;
    text-align: left;
}
.inner-services-content2 p{
    font-size: 17px;
    color: #003147;
    position: relative;
    text-transform: none;
    text-align: left;
}
.services-icon i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:12%;
    margin-top: 19px;
}
.services-icon1 i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:45%;
    margin-top: 19px;
}
.services-icon2 i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:80%;
    margin-top: 19px;
}
.services-icon i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.services-icon1 i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.services-icon2 i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.categories{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.categories1{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.categories2{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.white{
    color: white;
    font-weight: bold;
}
.black{
    color: black;
    font-weight: bold;
}
.e-pharmacy{
    width: 100%;
    height: 500px;
    background-image: url(./Images/alexander-grey-FEPfs43yiPE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pharmacy-content{
    padding-top: 30px;
}

.pharmacy-content a{
    background: var(--secondary-color);
    padding: 1.5rem 3rem;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s;
    margin-left: 50px;
    border: 1px solid var(--secondary-color);
}

.pharmacy-text{
    margin-top: 50px;
}
.pharmacy-text p{
    margin-left: 50px;
    font-size: 25px;
    color: white;
    text-transform: none;
    line-height: 3rem;
}
.pharmacy-icon1{
    margin-top: 85px;
    position: absolute;
}
.pharmacy-icon2{
    position: absolute;
    margin-top: 85px;
}
.pharmacy-icon1 a{
    background: transparent;
    padding: 1.5rem 3rem;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s;
    margin-left: 50px;
    border: 1px solid var(--secondary-color);
}
.pharmacy-icon1 a:hover{
    background: white;
    color: black;
    border: none;
}
.pharmacy-icon2 a{
    background: transparent;
    padding: 1.5rem 3rem;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s;
    margin-left:900px;
    border: 1px solid var(--secondary-color);

}
.pharmacy-icon2 a:hover{
    background: white;
    color:black;
    border: none;
}