:root{
    --main-color: #003147;
    --secondary-color: #ff5d22;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.header{
    padding: 1.5rem 7%;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 70px;
}
.navbar a{
    color: #003147;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 2rem;
    position: relative;
    gap: 4rem;
}
.navbar a:after{
    content: '';
    background: var(--secondary-color);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secondary-color);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}
.icons a{
    color: white;
    background: var(--secondary-color);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
    transition: .2s;
}
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.background{
    background-color: #f2f2f2;
    position: relative;


}
.background > img{
    margin-top: 150px;
    margin-left: 5%;
    width: 50%;
    height: 50%;
    border-top-left-radius: 60px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 80px;
    position: relative;
}
.background .appointment{
    background-color: var(--main-color);
    position:absolute;
    width: 55%;
    height: 30%;
    margin-left: 30%;
    top: 80%;
}
.appointment{
    color: #cfcece;

}
.appointment h3{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.appointment .flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.appointment .flexbox1  input{
    height: 1px;
    border: none;
    background-color: #ff5d22;
    margin-left: 8%;
    margin-top: 10px;
    flex: 1;
}
.appointment .flexbox1 p{
    margin-left: 8%;
    margin-top: 20px;
    font-size: 15px;
    flex: 1;
}






.background-content{
    position: absolute;
    top: 30%;
    left: 67%;
    width:50;

}
.background-content h1{
    color: var(--main-color);
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;

    margin-right: 20px;
}
.background-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: var(--main-color);

}
.background-content a{
    background: var(--secondary-color);
    padding: 1.5rem 3rem;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    transition: .5s;
}
.background-content a:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: black;
}
.about{
    padding: 3rem 7%;
    background: #f2f2f2;
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-about{
    flex: 1 1 45rem;
}
.inner-about .inner-about-image img{
    width: 100%;
    margin-top: 50px;
}
.about-content{
    width: 80%;
}
.about-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-transform: none;
}
.about-content a{
    background: var(--secondary-color);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    transition: .2s;
}
.about-content .buttons a:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: black;
}
.our-services{
    padding: 4rem 7%;
    background: linear-gradient(to left, #ffffff, #f2f9fc);
}
.service-content{
    text-align: center;
}
.service-content a{
    font-size: 40px;
    color: #003147;
}
.main-services{
    padding: 6rem 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}



.inner-services-content{
    flex: 2 2 250px;
    padding: 10rem 1rem;
    text-align: center;
    background-color:white;
    box-shadow: 2px 2px 5px #003147;

}
.inner-services-content1{
    flex: 2 2 250px;

    padding: 10rem 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px #003147;

}
.inner-services-content2{
    flex: 2 2 250px;
    padding: 10rem 1rem;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px #003147;


}
.inner-services-content:hover{
    transform:scale(1.05);
    background-image: url(./Images/walter-otto-PT70CT6mATQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);


}
.inner-services-content:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ff5d22;
    opacity: 0.9;

}
.inner-services-content1:hover{
    transform:scale(1.05);
    background-image: url(./Images/roberto-sorin-RS0-h_pyByk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);
}
.inner-services-content1:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #003147;
    opacity: 0.9;
}
.inner-services-content2:hover{
    transform:scale(1.05);
    background-image: url(./Images/national-cancer-institute-w7Pby5bDKW4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transform:scale(1.05);
}
.inner-services-content2:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ff5d22;
    opacity: 0.9;
}


.inner-services-content h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}
.inner-services-content1 h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}
.inner-services-content2 h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #003147;
    position: relative;
}

.inner-services-content .service-content p{
    font-size: 1.5rem;
    color: #003147;
    position: relative;
    text-align: center;
}
.inner-services-content1 p{
    font-size: 1.5rem;
    color: #003147;
    position: relative;
}
.inner-services-content2 p{
    font-size: 1.5rem;
    color: #003147;
    position: relative;
}
.services-icon i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:12%;
    margin-top: 19px;
}
.services-icon1 i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:45%;
    margin-top: 19px;
}
.services-icon2 i{
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 0;
    left:80%;
    margin-top: 19px;
}
.services-icon i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.services-icon1 i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.services-icon2 i:hover{
    color: white;
    background: var(--main-color);
    display: none;
}
.categories{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.categories1{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.categories2{
    display: flex;
    gap: 10px;
    text-align: center;
    position: relative;
    color: #003147;
}
.white{
    color: white;
    font-weight: bold;
}
.black{
    color: black;
    font-weight: bold;
}
.achievements{
    position: relative;
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background-image: url(./Images/andre-adjahoe-tqunk3qB_yU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.achievements::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #003147;
    opacity: 0.9;
}

.achievements .inner-achievements1{
    display: flex;
    flex-direction: column;
}
.achievements .inner-achievements2{
    display: flex;
    flex-direction: column;
}

.achievements .inner-achievements3{
    display: flex;
    flex-direction: column;
}
.achievements .inner-achievements1 i{
    font-size: 5rem;
    width: 7rem;
    height: 7rem;

    text-align: center;
    color: #ff5d22;
    transition: .3s;
    position: absolute;
    margin-top: 50px;
    left: 15%;
}
.achievements .inner-achievements2 i{
    font-size: 5rem;
    width: 7rem;
    height: 7rem;

    text-align: center;
    color: #ff5d22;
    transition: .3s;
    position: absolute;
    margin-top: 50px;
    left: 45%;
}
.achievements .inner-achievements3 i{
    font-size: 5rem;
    width: 7rem;
    height: 7rem;

    text-align: center;
    color: #ff5d22;
    transition: .3s;
    position: absolute;
    margin-top: 50px;
    left: 75%;
}
.achievements .inner-achievements1 h1{
    color: white;
    position: relative;
    font-size: 70px;
    margin-top: 110px;
    margin-left: 140px;
}

.achievements .inner-achievements2 h1{
    color: white;
    position: relative;
    font-size: 70px;
    margin-top: 110px;
    margin-left: 200px;
}

.achievements .inner-achievements3 h1{
    color: white;
    position: relative;
    font-size: 70px;
    margin-top: 110px;
    margin-left: 290px;
}
.achievements .inner-achievements1 h2{
    color: white;
    position: relative;
    font-size: 20px;
    margin-left: 180px;

}
.achievements .inner-achievements2 h2{
    color: white;
    position: relative;
    font-size: 20px;
    margin-left: 180px;

}
.achievements .inner-achievements3 h2{
    color: white;
    position: relative;
    font-size: 20px;
    margin-left: 280px;

}
.why-us{
    padding: 4rem 7%;
    background-color: #f2f2f2;
}
.main-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.inner-us{
    flex: 1 1 45rem;
}
.inner-us img{
    width: 100%;
    margin-left: 10px;
}
.inner-us h1{
    font-size: 40px;
    color: var(--main-color);
}
.main-inner-us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.us-icons i{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background: white;
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon-content{
    padding: 0 5rem;
}
.icon-content p{
    font-size: 1.5rem;
    line-height: 1;

}
.container{
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #f2f2f2;

}
.container .title{
    color: #003147;
    font-size: 40px;
    margin-left: 150px;

}
.container .slides{
    display: flex;
    flex-direction: row;
    position: relative;
}
.container .slides .slide{
    display: none;
    flex-direction: row;
    align-items: center;

}
.container .slides .slide img{
    width: 50%;
    height: 500px;
    margin-left: 650px;
    border-top-left-radius: 60px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 80px;
}
.container .slides .slide .text{
    width:50%;
    float: left;
    position: absolute;
}
.container .slides .slide .text h2{
    font-size: 30px;
    color: #003147;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 150px;
    font-family: 'Unbounded', sans-serif;
}
.container .slides .slide .text p{
    margin-top: 5px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 100;

}
.lowercase{
    text-transform: none;
}
.container .title span{
    box-shadow: 2px 2px 4px #003147;
    display: inline-block;
}
.our-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0;
    background-color: #f2f2f2;
}
.our-team .meet{
    display:flex;
    justify-content: space-between;
}
.our-team .meet .words h1{
    margin-left: 400px;
    font-size: 30px;
    color: #003147;
    margin-bottom: 50px;
    position:relative;
}
.our-team .meet .link a{
    background: var(--secondary-color);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    transition: .2s;
    position: relative;
}
.card-box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.card{
    background-color: white;
    box-shadow: 0px 0px 10px #003147;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}
.ceo-image{
    width: 100px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.ceo-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ceo-title{
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}
.ceo-text{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.ceo-icons{
    font-size: 18px;
    color: #003147;
    margin: 0 10px;
}